html {
    font-family: 'Lora', serif;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #f6fff8;
}

.body {
    width: 60%;
    background-color: #eaf4f4;
    height: 200vh;
    margin: 0;
    padding: 0;
}

.header {
    position: sticky;
    top: 0px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaf4f4;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}